/* cabeçalho e menu */
header.header-guest {
    background-color: #002447 ;
    position: relative;
}

a.nav-link {
    font-size: 16px;
}

a.nav-link:link, a.nav-link:visited {
    color:#53D3D1;
    transition: 0.5s ease-in;
}

a.nav-link:hover {
    color: #FC6B05;
    transition: 0.5s ease-in;
}

div.menu-guest {
    position: absolute;
    right: 0;
    margin: auto;
}



